#main {
    width: 650px;
    float: left;
}

input#chat {
    width: 610px
}

#console-container {
    width: 600px;
}

#console, #loggedUsers {
    border: 1px solid #CCCCCC;
    border-right-color: #999999;
    border-bottom-color: #999999;
    height: 300px;
    overflow-y: scroll;
    padding: 5px;
    width: 100%;
}

#console p, #loggedUsers p {
    padding: 0;
    margin: 0;
}

#aside {
    float: left;
}

#loggedUsers {
    height: 340px;
    width: 150px;
    margin-top: 25px;
}

.noscript h2 {
    color: #ff0000;
}